[Unit]
Description=vlc stream service
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=3
User=alpine
ExecStart=/opt/vlc_stream.sh

[Install]
WantedBy=multi-user.target
